/* Alejandro Campa Martínez UO282874 */

/* Contrastes de colores
    #b1d4e0 - #0c2d48
    #125491 - #ffffff
*/

/* Specificity 0,0,1 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b1d4e0;
    color: #0c2d48;
}

/* Specificity 0,0,1 */
/* This selector includes all elements inside the header,
including the h1 and nav elements */
header {
    /* Color hereda de body */
    background-color: #125491;
    color: #ffffff;
}

/* Specificity 0,0,2 */
header a {
    /* Color y background-color hereda de body */
    text-decoration: none;
    color: inherit;
}

/* Specificity 0,1,2 */
body > p:first-of-type {
    /* Color y background-color hereda de body */
    font-size: 0.5em;
}

/* Specificity 0,1,1 */
a:hover {
    background-color: #c3e0e5;
    color: #000000;
}

a.active {
    background-color: white;
    color: black;
}

/* List styling */

/* Specificity 0, 0, 1 */
ul,
ol {
    /* Color y background-color hereda de body */
    font-size: 0.8em;
    list-style-type: circle;
    list-style-position: inside;
}

/* Definition list stles */

/* Specificity 0, 0, 1 */
dt {
    /* Color y background-color hereda de body */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
}

/* Specificity 0, 0, 1 */
dd {
    /* Background-color hereda de body */
    color: #555;
    font-style: italic;
}

/* Specificity 0, 0, 1 */
img,
video {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

/* Specificity 0, 0, 1 */
nav {
    /* Color y background-color hereda de body */
    font-size: 1.5em;
}

/* Specificity 0, 0, 2 */
nav > a {
    /* Color y background-color hereda de body */
    padding: 1em;
}

/* Specificity 0, 0, 2 */
table {
    /* Color hereda de body*/
    background-color: #125491;
    border-radius: 1em;
    padding: 0.5em;
}

/* Specificity 0, 0, 2 */
table th {
    /* Color hereda de body*/
    background-color: #b1d4e0;
    border-radius: 0.75em;
    padding: 0.8em;
}

/* Specificity 0, 0, 2 */
table td {
    /* Color hereda de body*/
    background-color: #969696;
    border-radius: 0.75em;
    border-width: 0.15em;
    border-style: solid;
    border-color: black;
    padding: 0.4em;
}

@media only screen and (max-width: 799px) {
    /* Specificity 0, 1, 2 */
    body > p:first-of-type {
        display: none;
    }
}
