/* Alejandro Campa Martínez UO282874 */

/* Contrastes de colores
    #b1d4e0 - #0c2d48
    #125491 - #ffffff
*/

/* Specificity 0,0,1 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b1d4e0;
    color: #0c2d48;
}

/* Specificity 0,0,1 */
/* This selector includes all elements inside the header,
including the h1 and nav elements */
header {
    background-color: #125491;
    color: #ffffff;
}
