/* Alejandro Campa Martínez UO282874 */

/* Specificity 0,0,1 */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #b1d4e0;
    color: #0c2d48;
}

/* Specificity 0,0,1 */
header {
    background-color: #145da0;
    color: #ffffff;
}

/* Specificity 0,0,3 */
header h1 nav {
    background-color: #145da0;
    color: #ffffff;
}
