/* Alejandro Campa Martínez UO282874 */
/* Specificity 0, 0, 2 */
table {
    /* Color hereda de body*/
    background-color: #125491;
    border-radius: 1em;
    padding: 0.5em;
}

/* Specificity 0, 0, 2 */
table th {
    /* Color hereda de body*/
    background-color: #b1d4e0;
    border-radius: 0.75em;
    padding: 0.8em;
}

/* Specificity 0, 0, 2 */
table td {
    /* Color hereda de body*/
    background-color: #969696;
    border-radius: 0.75em;
    border-width: 0.15em;
    border-style: solid;
    border-color: black;
    padding: 0.4em;
}
